body {
	display: flex;
	flex-wrap: wrap;
}

.container {
	width: 100%;
}

.profile {
	display: block;
	border: 3px solid #73AD21;
	width: 25%;
	margin-left: auto;
	margin-right: 0px;
	order: 1;
}

.foreground { 
	width: 100%;
	order: 2;
}
