body {
    text-align: center;
    background-color: lightblue;
    font-family: "Comic Sans MS", cursive, sans-serif;
    display: flex;
    flex-wrap: wrap;

    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}


h1 {
    font-size: 50px;
    margin: 0.2em;
    width: 100%;
    order: 1;
}
h3 {
    width: 100%;
    font-size: 14px;
}

#gridOptions {
    width: 100%;
    order: 2;
    display: flex;
    flex-wrap: wrap;
}
#reset {
    width:100%;
    text-align: center;
    order: 2;
    display: none;
    flex-wrap: wrap;
}
#drawOptions {
    width: 100%;
    order: 3;
    display: none;
    flex-wrap: wrap;
}

#sizeHeader {
    width: 50%;
    order: 1;
    height: 70px;
}
#sizePicker {
    width: 50%;
    order: 2;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
}

#colourHeader {
    width: 50%;
    order: 1;
    height: 70px;
}
#colourPicker {
    width:50%;
    order: 2;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.gridD {
  width: 100%;
  order: 3;
  height: 70px;
}

#bound1{ width: 35%; order: 1; }
#resetB{ 
  width: 30%; order: 2; 
  border: solid; cursor: pointer;}
#bound2{ width: 35%; order: 3; }

/* Set the maximum grid width to the width of the page */
#pixelCanvas{
  max-width: 100%;
  order: 7;
}
#pixel-canvas{
  max-width: 100%;
  padding-top: 100%;
  position: relative;
  max-height: 600px;
}

/* Flex wrap design for size picking */
#height { width: 50%; order: 1}
#width { width: 50%; order: 2}
#buildD { width: 100%; padding-top: 5px; order: 3}
#buildB { vertical-align: 50%; }

/* Flex wrap design for colour picking */
#cColour { width: 50%; order: 1;}
#bgColour { width: 50%; order: 2;}



/* Display canvas */
tr,
td {
    border: 1px solid black;
}
table {
    border: 3px solid green;
    border-collapse: collapse;
    margin: 0 auto;
    max-width: 100%;
}
tr {
    height: 20px;
}
td {
    width: 20px;
}

table {
  max-width: 100%;
}
td {
  position: relative;
}
td:after {
  content: '';
  display: block;
  margin-top: 100%;
}
td .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: gold;
}


input[type=number] {
    width: 6em;
}


.testgrid {
  margin: 0 auto;
  width: 10vw;
  max-width: 60vh;
  height: 80vw;
  max-height: 60vh;
  font-size: 1rem;
}
.testrow {
  display: flex;
}
.testbox {
  background: tomato;
  margin: 5px;
  color: white;
  font-weight: bold;
  flex: 1 0 auto;
  position: relative;
  border: 5px solid black;
}
.testbox:after {
  content: "";
  float:left;
  display: block;
  padding-top: 100%;
}

.testbox .inner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
